<!DOCTYPE html>
<html lang="en">
<head>
    <title>CurrentCryptoCurrency</title>
    <link rel="icon" href="static/favicon.ico">
	<link rel="stylesheet" href="static/styles.css"
</head>
<body>
   <div>
	<h1 class="main">Welcome to the WORLD of CRYPTOCURRENCY</h1>
   </div>
   <div>
       <h1>The coin you searched for is <b>{{coin}}</b></h1>
       <img class="newimg" src= {{img_src}} alt="Img of coin-{{coin}}">
       <h1> <br/> Symbol:<b>{{symbol}}</b> <br/>Price: <b>{{price}}</b> </h1>

   </div>
</body>
</html>