<!DOCTYPE HTML>
<html>
<head>
	<title>CurrentCryptoCurrency</title>
    <link rel="icon" href="static/favicon.ico">
	<link rel="stylesheet" href="static/styles.css">
</head>
<body>
<div>
	<h1 class="main">Welcome to the WORLD of CRYPTOCURRENCY</h1>
    <div>
	<a href = Current_Details>
		<button class="button" type="button">Check Current Details</button>
	<a/>

	</div>
	<h2 class="main2">DIFFERENT COINS in CRYPTOCURRENCY</h2>

	<div class="mainCard_Section">
			<div class="card_Container">
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/bitcoin.jpg" alt="Avatar" />
					<div class="card_Title">
						<h1>Bit Coin</h1>
						<h3>NAME:  Bitcoin<br/>SYMBOL:  BTC<br/>GROUP:  MegaCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Bitcoin was created as a way for people to send money over the internet. The digital currency was intended to provide an alternative payment system that would operate free of central control but otherwise be used just like traditional currencies.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/bitcoin/"><h3>Bit coin details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Ethereum.jpg" alt="Avatar" />
					<div class="card_Title">
						<h1>Ethereum</h1>
						<h3>NAME:  Ethereum<br/>SYMBOL:  ETH<br/>GROUP:  MegaCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Ethereum is a blockchain platform with its own cryptocurrency.Ethereum was created to enable developers to build and publish smart contracts and distributed applications that can be used without the risks of downtime, fraud, or interference from a third party.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/ethereum/"><h3>Ethereum details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/solana.png" alt="Avatar" />
					<div class="card_Title">
						<h1>Solana</h1>
						<h3>NAME:  Solana<br/>SYMBOL:  SOL<br/>GROUP:  LargeCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Solana is a blockchain platform designed to host decentralized, scalable applications. Solana can process many more transactions per second, and has much lower transaction fees, than rival blockchains like Ethereum.	</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/solana/"><h3>Solana details</h3></a>

						</div>
					</div>
				</div>
		        <div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Axie.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>AxieInfinity</h1>
						<h3>NAME:  AxieInfinity<br/>SYMBOL:  AXS<br/>GROUP:  LargeCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>AXS is an Ethereum token, a blockchain-based game where players can battle, collect, and build a digital kingdom for their pets. AXS holders can claim rewards for staking their tokens, playing the game, and participating in key governance votes.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/axie-infinity/"><h3>AxieInfinity details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Avalanche.png" alt="Avatar" />
					<div class="card_Title">
						<h1>Avalanche</h1>
						<h3>NAME:  Avalanche<br/>SYMBOL:  AVAX<br/>GROUP:  LargeCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Avalanche describes itself as an open, programmable smart contracts platform for decentralized applications. AVAX is used to pay transaction fees and can be staked to secure the network.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/avalanche/"><h3>Avalanche details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Kadena.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Kadena</h1>
						<h3>NAME:  Kadena<br/>SYMBOL:  KDA<br/>GROUP:  SmallCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Kadena is the only platform offering a complete decentralized infrastructure. Your teams get the full capabilities of crypto with the tools to go from concept to launch in days instead of months.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/kadena/"><h3>Kadena details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/CryptoDotCom.jpg" alt="Avatar" />
					<div class="card_Title">
						<h1>Crypto.Com</h1>
						<h3>NAME:  Crypto.Com<br/>SYMBOL:  CRO<br/>GROUP:  SmallCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Crypto.com Coin (CRO) is the native token of the Crypto.com Chain.Businesses receive all their payments instantly in CRO or stable coins, or in fiat.  Users can swap CRO, be CRO Liquidity Providers to earn fees and boost their yield by up to 20x when staking CRO. </h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/crypto-com-coin/"><h3>Crypto.com details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Verasity.jpg" alt="Avatar" />
					<div class="card_Title">
						<h1>Verasity</h1>
						<h3>NAME:  Verasity<br/>SYMBOL:  VRA<br/>GROUP:  SmallCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Verasity provides rewarded video player technology to major publishers and game developers worldwide.Verasity's attention-based model creates a VRA token economy between viewers, video & game publishers, and advertisers. It also provides a built-in fiat gateway solution via VeraWallet.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/verasity/"><h3>Verasity details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Polkadot.jpg" alt="Avatar" />
					<div class="card_Title">
						<h1>Polkadot</h1>
						<h3>NAME:  Polkadot<br/>SYMBOL:  DOT<br/>GROUP:  SmallCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Polkadot is a sharded blockchain, which means it connects several different chains together in a single network, allowing them to process transactions in parallel and exchange data between chains without sacrificing security.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/digital-insurance-token/"><h3>Polkadot details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Kucoin.png" alt="Avatar" />
					<div class="card_Title">
						<h1>Kucoin</h1>
						<h3>NAME:  Kucoin<br/>SYMBOL:  KCS<br/>GROUP:  SmallCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2> KuCoin Tokens can be used for payment of trading fees on the KuCoin Exchange. But traders are rewarded with a 20% fee discount for doing so. Accordingly, for high-volume traders, KuCoin is becoming a platform of choice.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/kucoin-token/"><h3>Kucoin details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Phantasma.jpg" alt="Avatar" />
					<div class="card_Title">
						<h1>Phantasma</h1>
						<h3>NAME:  Phantasma<br/>SYMBOL:  SOUL<br/>GROUP:  SmallCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Phantasma is a fully interoperable, decentralized feature rich blockchain,with its innovative staking mechanism, dual token system, sustainable tokenomics model and advanced eco-friendly smart NFTs. The NFTs can be minted on-demand at a fraction of the costs compared to other blockchains.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/phantasma/"><h3>Phantasma details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Binance.jpg" alt="Avatar" />
					<div class="card_Title">
						<h1>Binance</h1>
						<h3>NAME:  Binance<br/>SYMBOL:  BNB<br/>GROUP:  LargeCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Binance coin is the crypto-coin issued by the binance exchange and trades with a BNB symbol. This coin runs on the Ethereum blockchain with standard ERC 20 and is limited to a maximum of 200 million BNB tokens.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/binance-coin/"><h3>Binance details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/LivePeer.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Live Peer</h1>
						<h3>NAME:  Live Peer<br/>SYMBOL:  LPT<br/>GROUP:  SmallCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Live Peer is a platform for decentralized video streaming. LPT is required to perform the work of transcoding and distributing video on the network while also incentivizing peers to ensure that the network is cost-effective and secure.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/livepeer/"><h3>Live Peer details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Enjin.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Enjin Coin</h1>
						<h3>NAME:  Enjin Coin<br/>SYMBOL:  ENJ<br/>GROUP:  SmallCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Enjin Coin (ENJ) is an Ethereum token that aims to “make it easy for individuals, businesses, and brands to use non-fungible tokens (NFTs).” ENJ is used to directly back the value of NFTs minted within the Enjin ecosystem.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/enjin-coin/"><h3>Enjin Coin details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Fantom.jpg" alt="Avatar" />
					<div class="card_Title">
						<h1>Fantom</h1>
						<h3>NAME:  Fantom<br/>SYMBOL:  FTM<br/>GROUP:  SmallCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Fantom is a blockchain platform capable of running smart contracts. Through smart contracts, developers can create decentralized apps (dApps) that power DeFi platforms. They're used for establishing the ownership of non-fungible tokens (NFTs).</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/fantom/"><h3>Fantom details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Coti.jpg" alt="Avatar" />
					<div class="card_Title">
						<h1>Coti</h1>
						<h3>NAME:  Coti<br/>SYMBOL:  COTI<br/>GROUP:  SmallCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>COTI is the world’s first platform optimized for creating price-stable coins. COTI developed a revolutionary remittance solution for the cross-border payments industry to make it more secure, efficient and low cost.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/coti/"><h3>Coti Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/SandBox.png" alt="Avatar" />
					<div class="card_Title">
						<h1>SandBox</h1>
						<h3>NAME:  SandBox<br/>SYMBOL:  SAND<br/>GROUP:  SmallCap<br/>GRADE:  A+</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>The Sandbox is a blockchain-based virtual world allowing users to create, build, buy and sell digital assets in the form of a game.The Sandbox employs the powers of blockchain technology by introducing the SAND utility token, which facilitates transactions on the platform.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/the-sandbox/"><h3>SandBox Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/PolkaBridge.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>PolkaBridge</h1>
						<h3>NAME:  PolkaBridge<br/>SYMBOL:  PBR<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>PolkaBridge is a decentralized cross-chain protocol designed to act as the primary bridge between Polkadot and other blockchains. It exists primarily as ERC-20 token on the Ethereum blockchain for now, but will be introduced on the Polkadot blockchain soon.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/polkabridge/"><h3>PolkaBridge Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Polkastarter.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>PolkaStarter</h1>
						<h3>NAME:  PolkaStarter<br/>SYMBOL:  POLS<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Polkastarter is a blockchain platform designed to provide an easy to use launchpad for cross-chain token pools and auctions. It is most commonly used by early-stage blockchain projects that want to raise capital and easily distribute their tokens at the same time.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/polkastarter/"><h3>PolkaStarter Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Kusama.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Kusama</h1>
						<h3>NAME:  Kusama<br/>SYMBOL:  KSM<br/>GROUP:  LargeCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Kusama is a public pre-production environment for Polkadot, one that allows any developer to experiment and test new blockchains or applications before releasing them on this network.Kusama offers a safe and dependable platform to its traders for investing.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/kusama/"><h3>Kusama Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/LiteCoin.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>LiteCoin</h1>
						<h3>NAME:  LiteCoin<br/>SYMBOL:  LTC<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>LiteCoin shares many similarities with bitcoin and is based on bitcoin's original source code. Litecoin was designed to be used for cheaper transactions, and to be more efficient for everyday use.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/litecoin/"><h3>LiteCoin Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/PolkaMarkets.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>PolkaMarkets</h1>
						<h3>NAME:  PolkaMarkets<br/>SYMBOL:  POLK<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Polkamarkets is a DeFi-Powered Prediction Market built for cross-chain information exchange and trading, where users take positions on outcomes of real world events–in a decentralized and interoperable platform on Polkadot.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/polkamarkets/"><h3>PolkaMarkets Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/REVVMotorSport.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>REVV</h1>
						<h3>NAME:  REVVMotorSport<br/>SYMBOL:  REVV<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>The REVV token is an ERC-20 utility token that acts as the main currency for a number of game dApps developed by Animoca Brands. It powers REVV Motorsport, a blockchain gaming platform with real life Play To Earn gaming economy and officially licenced racing titles.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/revv/"><h3>REVVMotorSport Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/1inch.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>1inchNetwork</h1>
						<h3>NAME:  1inchNetwork<br/>SYMBOL:  1INCH<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>1INCH is an Ethereum token that powers 1inch, a decentralized exchange that aims to offer the “best rates by discovering the most efficient swapping routes across all leading DEXes.”1inch enable users to transact tokens without an intermediary.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/1inch/"><h3>1inchNetwork Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/decentraland.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Decentraland</h1>
						<h3>NAME:  Decentraland<br/>SYMBOL:  MANA<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Decentraland (MANA) is an Ethereum token that powers the Decentraland virtual reality platform. MANA can be used to pay for virtual plots of land in Decentraland as well as in-world goods and services.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/decentraland/"><h3>Decentraland Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Illuvium.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Illuvium</h1>
						<h3>NAME:  Illuvium<br/>SYMBOL:  ILV<br/>GROUP:  LargeCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Illuvium is the main token used to reward players for their in-game achievements, entitles players to their share of the Illuvium Vault and is used for participating in the governance of the game via the Illuvium decentralized autonomous organization (DAO).</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/illuvium/"><h3>Illuvium Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/zcash.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Zcash</h1>
						<h3>NAME:  Zcash<br/>SYMBOL:  ZEC<br/>GROUP:  LargeCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Zcash is a cryptocurrency aimed at using cryptography to provide enhanced privacy for its users compared to other cryptocurrencies such as Bitcoin. Zcash is based on Bitcoin's codebase. It shares many similarities, such as a fixed total supply of 21 million units.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/zcash/"><h3>Zcash Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/GNO.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Gnosis</h1>
						<h3>NAME:  Gnosis<br/>SYMBOL:  GNO<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>The Gnosis cryptocurrency, GNO, is an Ethereum-based token sold during the Gnosis ICO. The primary use case of GNO is for generating OWL tokens via staking. Users can lock GNO for a certain amount of time (up to one year) to earn rewards.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/gnosis-gno/"><h3>GNO Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/WilderWorld.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>WilderWorld</h1>
						<h3>NAME:  WilderWorld<br/>SYMBOL:  WILD<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>WilderWorld tokens will be used as voting mechanisms for Wilder stakeholders, as well as to incentivize the expansion of the Wilder Metaverse; from new protocols and services to the development of fully virtual people, places, and things.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/wilder-world/"><h3>WilderWorld Details</h3></a>

						</div>
					</div>
				</div>

				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Loopring.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Loopring</h1>
						<h3>NAME:  Loopring<br/>SYMBOL:  LRC<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Loopring is an Ethereum token that describes itself as “an open-sourced, audited, and non-custodial exchange protocol.” It aims to allow anyone to build non-custodial, order book-based exchanges on Ethereum by leveraging zero-knowledge proofs.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/loopring/"><h3>Loopring Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Storj.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Storj</h1>
						<h3>NAME:  Storj<br/>SYMBOL:  STOR<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Storj is an Ethereum token that powers a decentralized cloud storage network for developers called Storj DCS (Decentralized Cloud Storage). After a customer uploads a file to Storj DCS, pieces of each file are distributed to a global network of independent nodes.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/storj/"><h3>Storj Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Hive.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Hive</h1>
						<h3>NAME:  Hive<br/>SYMBOL:  HIVE<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>HIVE is a Graphene-based social blockchain and was designed to be an efficient platform for decentralized applications. Hive is fully decentralized, fast, scalable and has a low barrier to entry.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/hive-blockchain/"><h3>Hive Details</h3></a>

						</div>
					</div>
				</div>

				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Quant.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Quant</h1>
						<h3>NAME:  Quant<br/>SYMBOL:  QNT<br/>GROUP:  LargeCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>QNT are tokens whose main role is to provide digital access to a particular service or an application which are made part of the Quant platform. The access is provided to both users and developers. In addition to the number of tokens, the access fee will be also based on the fixed fiat currency amount.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/quant/"><h3>Quant Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Mint Club.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Mint Club</h1>
						<h3>NAME:  Mint Club<br/>SYMBOL:  MINT<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Mint Club is a smart token building platform that has no need to code and provides instant liquidity. Anyone can launch a smart token with just a few simple clicks. Instantly tradeable without providing liquidity pools </h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/mint-club/"><h3>Mint Club Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Nervos Network.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Nervos Network</h1>
						<h3>NAME:  Nervos Network<br/>SYMBOL:  CKB<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Nervos Network is a collection of protocols that aim to solve the scaling limitations facing traditional networks.Nervos' native token allows users and developers to claim storage space on the Nervos blockchain in proportion to their holdings. </h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/nervos-network/"><h3>Nervous Network Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Serum.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Serum</h1>
						<h3>NAME:  Serum<br/>SYMBOL:  SRM<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Serum's utility token,enables holders to receive up to a 50% discount on their trade fees and stakers to vote and participate in the platform's governance mechanism.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/serum/"><h3>Serum Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Tezos.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Tezos</h1>
						<h3>NAME:  Tezos<br/>SYMBOL:  XTZ<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Tezos is a decentralized open-source blockchain that can execute peer-to-peer transactions and serve as a platform for deploying smart contracts. The native cryptocurrency for the Tezos blockchain is the tez which has the symbol XTZ.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/tezos/"><h3>Tezos Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Throchain.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Throchain</h1>
						<h3>NAME:  Throchain<br/>SYMBOL:  RUNE<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>THORCHain is a decentralized liquidity protocol that allows users to easily exchange cryptocurrency assets across a range of networks without losing full custody of their assets in the process.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/thorchain/"><h3>Throchain Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Algorand.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Algorand</h1>
						<h3>NAME:  Algorand<br/>SYMBOL:  ALGO<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>The public version of the Algorand blockchain is primarily designed to enable other developers to create new kinds of applications fuelled by cryptocurrency. The platform has been used in real estate, copyright, microfinance and more.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/algorand/"><h3>Algorand Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Polka City.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Polka City</h1>
						<h3>NAME:  Polka City<br/>SYMBOL:  POLC<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Polkacity is an NFT marketplace that aims to “revolutionize the ownership of virtual assets” by building the world's first 3D and AR NFT platform that will be on multiple blockchains. Users can purchase and own virtual taxis, gas stations, and services and earn interest on their assets.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/polkacity/"><h3>Polka City Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Rose.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Oasis Network</h1>
						<h3>NAME:  Oasis Network<br/>SYMBOL:  ROSE<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>ROSE is used for transaction fees, staking and delegation at the Consensus Layer. By staking ROSE, users can secure the Oasis blockchain and earn up to 20% APY rewards.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/oasis-network/"><h3>ROSE Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Star Atlas.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Star Atlas</h1>
						<h3>NAME:  Star Atlas<br/>SYMBOL:  ATLAS<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Star Atlas is a massive multiplayer metaverse set in the distant future, in the year 2,620.Players can trade, obtain and create non-fungible tokens within the Star Atlas universe thus enjoying an economy that reflects the ownership, and value of real-world assets.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/star-atlas/"><h3>Star Atlas Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Gala.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Gala</h1>
						<h3>NAME:  Gala<br/>SYMBOL:  GALA<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>GALA is an Ethereum token that powers Gala Games, a platform for blockchain gaming. GALA is used as the medium of exchange between Gala Games participants. For example, it can be used to pay for in-game items.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/gala/"><h3>Gala Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Ren.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Ren</h1>
						<h3>NAME:  Ren<br/>SYMBOL:  REN<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Ren is an Ethereum token that powers Ren's open protocol for transferring cryptocurrencies between blockchains.Ren aims to bring popular assets to blockchains, making it possible for these assets to participate in a multi-chain decentralized finance ecosystem.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/ren/"><h3>Ren Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Chromia.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Chromia</h1>
						<h3>NAME:  Chromia<br/>SYMBOL:  CHR<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Chromia is a blockchain platform for the development and deployment of DApps. The platform allows the development of multiple blockchains for each DApp, with each blockchain being run by a subset of nodes that serve to increase throughput.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/chromia/"><h3>Chromia Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/RMRK.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>RMRK</h1>
						<h3>NAME:  RMRK<br/>SYMBOL:  RMRK<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Rmrk is the most advanced nft system in the world, adding eternal liquidity and multi chain forward compatibility to all NFT projects coming out. An NFT can now be reused by any future project on any chain without official partnerships between the project creators.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/rmrk/"><h3>RMRK Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Revomon.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Revomon</h1>
						<h3>NAME:  Revomon<br/>SYMBOL:  REVO<br/>GROUP:  SmallCap<br/>GRADE:  A-</h3>
					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>REVO serves as an in-game currency that users can buy collectibles or items with or which they can earn through engaging in quests and competitions. REVO can also be used to vote in the project's governance proposals and for staking in the Revomon liquidity pools.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/revomon/"><h3>Revomon Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/VulcanForgedPYR.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>VulcanForged</h1>
						<h3>NAME:  VulcanForgedPYR<br/>SYMBOL:  PYR<BR/>GROUP:  SmallCap<br/>GRADE:  A-</h3>

					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>PYR is the native utility token that is used for: Fees for marketplace settlement. Staking in VulcanVerse land and other assets. Upgrading and sustaining game asset levels.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/currencies/vulcan-forged-pyr/"><h3>VulcanForgedPYR Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/VeChain.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>VeChain</h1>
						<h3>NAME:  VeChain<br/>SYMBOL:  VET<BR/>GROUP:  SmallCap<br/>GRADE:  A-</h3>

					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>VeChain is a blockchain platform designed to enhance supply chain management and business processes. Its goal is to streamline these processes and information flow for complex supply chains through the use of distributed ledger technology.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/currencies/vechain/"><h3>VeChain Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/SaitamaInu.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Saitama Inu</h1>
						<h3>NAME:  Saitama Inu<br/>SYMBOL:  SAITAMA<BR/>GROUP:  Meme Coin<br/>GRADE:  B+</h3>

					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Saitama Inu is an ERC-20 token. This means it uses the Ethereum blockchain and uses smart contracts to power the token. ERC-20 is a standard that many memecoins use as it is fairly easy for developers to create new coins.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/currencies/saitama-inu/"><h3>Saitama Inu Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Piccolo Inu.jpg" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Piccolo Inu</h1>
						<h3>NAME:  Piccolo Inu<br/>SYMBOL:  PINU<br/>GROUP:  Meme Coin<br/>GRADE:  B+</h3>

					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Piccolo Inu is a community-driven token on the Ethereum Mainnet. We created $PINU to provide our holders with leading tokenomics within the DeFi space. Our frictionless generation protocol makes you earn passive income without having to do anything at all.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/currencies/piccolo-inu/"><h3>Piccolo Inu Details</h3></a>

						</div>
					</div>
				</div>
				<div class="card" data-aos="fade-up-right">
					<img id="card_Avatar" src="static/Floki Inu.png" alt="Avatar" />
					<div class="card_Title">
						<br/>
						<h1>Floki Inu</h1>
						<h3>NAME:  Floki Inu<br/>SYMBOL:  FLOKI<br/>GROUP:  Meme Coin<br/>GRADE:  B+</h3>

					</div>
					<div class="card_Details">
						<div class="card_Edu">
							<h2>Floki holders can also pay for goods on the XCUR platform. Other utilities in the future may include several features like buying NFTs, gaming, and paying for services and goods.</h2>
						</div>
						<div class="card_More">
							<a href="https://coinmarketcap.com/currencies/currencies/floki-inu/"><h3>Floki Inu Details</h3></a>

						</div>
					</div>
				</div>
			</div>
	</div>
</div>


</body>
</html>